<div class="container mt-4" style="padding-left: 70px; padding-top: 50px">
  <form [formGroup]="manageOrderForm">
    <!-- Datos del cliente -->
    <div class="form-group">
      <label for="nombre">Nombre del Cliente</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="nombre"
      />
    </div>

    <div class="form-group">
      <label for="nombre">Correo Electronico</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="email"
      />
    </div>

    <div class="form-group">
      <label for="nombre">Telefono Cliente:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="telefono"
      />
    </div>

    <!-- Datos de la factura -->
    <div class="form-group mt-4">
      <label for="metodoPago">Método de Pago</label>
      <select
        style="height: 2rem; width: 35%"
        class="form-control"
        id="metodoPago"
        formControlName="metodoPago"
      >
        <option value="" disabled selected>Selecciona método de pago</option>
        <option value="TARJETA">TARJETA</option>
        <option value="EFECTIVO">EFECTIVO</option>
        <option value="YAPE">YAPE</option>
      </select>
    </div>

    <select
      style="height: 2rem; width: 35%"
      (change)="getProductoPorCategoria($event)"
    >
      <option value="0" disabled>Seleccione</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.nombre }}
      </option>
    </select>

    <select
      style="height: 2rem; width: 35%"
      (change)="getProductDetails($event)"
      formControlName="productoSeleccionado"
    >
      <option value="0" disabled>Seleccione</option>
      <option *ngFor="let producto of productos" [value]="producto.id">
        {{ producto.nombre }}
      </option>
    </select>
    <button (click)="addCarrito(productoSeleccionado)">Agregar Carrito</button>
    <button (click)="validateSubmit()">Realizar Venta</button>
  </form>

  <div *ngIf="productosEnCarrito.length > 0">
    <h2>Carrito de Compras</h2>
    <ul>
      <li
        *ngFor="let producto of productosEnCarrito; let i = index"
        style="margin-bottom: 1rem"
      >
        {{ producto.nombre }} - Cantidad: {{ producto.cantidad }} - Precio:
        {{ producto.precio }}
        <button (click)="quitarDelCarrito(i)">Quitar del Carrito</button>
      </li>
    </ul>
    <p>Total: {{ totalAmount }}</p>
  </div>
</div>
