<div class="container mt-4" style="padding-left: 70px; padding-top: 50px">
  <table id="myTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Role</th>
        <th>Estado</th>
        <th>Cambiar Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombres }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.role }}</td>
        <td>
          <span
            style="color: green; font-weight: bold"
            *ngIf="usuario.estado == 'true'"
            >Activo</span
          >
          <span
            style="color: grey; font-weight: bold"
            *ngIf="usuario.estado == 'false'"
            >Inactivo</span
          >
        </td>
        <td>
          <input
            type="checkbox"
            class="custom-checkbox"
            [checked]="usuario.estado === 'true'"
            (change)="cambiarEstado($event, usuario)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
