<div class="container mt-4" style="padding-left: 70px; padding-top: 50px">
  <form [formGroup]="categoriaForm">
    <h4>Agregar Categoria</h4>

    <input type="text" class="inputCategoria" formControlName="nombre" />

    <button
      type="submit"
      class="btn btn-custom"
      (click)="validateAddCategoria()"
    >
      Nueva Categoría
    </button>

    <br /><br />
  </form>

  <table id="myTable" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.nombre }}</td>
        <td>
          <button class="editBtn" (click)="openEditModal(categoria)">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </td>
        <td>
          <button class="deleteBtn" (click)="eliminarCategoria(categoria)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-4" style="padding-left: 70px; padding-top: 50px">
  <!-- Tu tabla aquí -->

  <!-- Modal EDITAR -->
  <div class="custom-modal" [class.show-modal]="mostrarModal">
    <div class="modal-content">
      <h2>Editar Categoría</h2>
      <form [formGroup]="editForm">
        <input
          readonly
          type="text"
          class="inputCategoria"
          style="width: 30%"
          id="inputCodigo"
          formControlName="id"
        />
        <input type="text" class="inputCategoria" formControlName="nombre" />

        <button
          type="submit"
          class="btn btn-custom"
          (click)="validateEditCategoria()"
        >
          Editar Categoria
        </button>

        <br /><br />
      </form>
      <button class="modal-close-button" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>
