<div class="card">
  <div class="card-header">
    <h2>Gestion de Categorias</h2>
    <button class="btn btn-primary float-right">
      <i class="fas fa-plus"></i> Agregar Categoria
    </button>
  </div>
  <div class="card-body">
    <input
      type="text"
      class="form-control"
      placeholder="Filter"
      (keyup)="applyFilter($event)"
    />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource">
          <td>{{ element.nombre }}</td>
          <td>
            <button class="btn btn-primary" (click)="handleEditAction(element)">
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
