<!-- ======================= Cards ================== -->
<div class="cardBox">
  <div class="card">
    <div>
      <div class="numbers">{{ data?.usuario }}</div>
      <div class="cardName">Total de Usuarios</div>
    </div>

    <div class="iconBx">
      <!--       <ion-icon name="eye-outline"></ion-icon> -->
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">{{ data?.categoria }}</div>
      <div class="cardName">Categorias</div>
    </div>

    <div class="iconBx">
      <!--      <ion-icon name="cart-outline"></ion-icon> -->
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">{{ data?.producto }}</div>
      <div class="cardName">Productos</div>
    </div>

    <div class="iconBx">
      <!--       <ion-icon name="chatbubbles-outline"></ion-icon> -->
    </div>
  </div>

  <div class="card">
    <div>
      <div class="numbers">{{ data?.factura }}</div>
      <div class="cardName">Ventas</div>
    </div>

    <div class="iconBx">
      <!--  <ion-icon name="cash-outline"></ion-icon> -->
    </div>
  </div>
</div>
